{% extends 'main.html' %}

{% load static %}
{% block content %}
<nav class="navbar navbar-expand-custom navbar-mainbg" style = "overflow: visible !important;">
    <a class="navbar-brand navbar-logo" href="{% url 'home' %}"><div class="Logoo"></div></a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i>HOME</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'open' %}"><i class="fas fa-th-large"></i>CATEGORIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'book' %}"><i class="fas fa-book-open"></i></i>NOTEBOOK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart/"><i class="fa-solid fa-cart-shopping"></i>CART</a>
            </li>
            <li class="nav-item active" style ="cursor: pointer;">
                {% if not request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'loginview' %}"><i class="fas fa-user-alt"></i>Sign In</a>
                {% else %}
                <a class="nav-link"><i class="fas fa-user-alt"></i>{{request.user.username}}</a>
                <ul>
                    <li class="nav-item" >
                        <a class="nav-link" href = "{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'addnote' %}">Create Note</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="#">Order History</a>
                    </li>
                    <li class="nav-item" >
                        <a id = "logout-button" href="{% url 'logoutview' %}">Sign Out</a>
                    </li>
                </ul> 
                {% endif %}
                   
            </li>
        </ul>
    </div>
</nav>

<div class="edit-profile">
    
    <div id = "container" >
        <img src = "{% if request.user.profile_image %}{{ request.user.profile_image.url }}{% endif %}" style = "height: 200px;width: auto;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <medium style="color: rgba(255, 255, 255,0.8); font-size: 13px;" >file must not exceed 1 MB {{form.profile_image}}</medium>
                <br>
                <div style="align-content: center;">
                <div style="color:white;">Name : {{form.username}}</div>
                <!-- <div style="color: white;">Name   :   <input name="name" type = "text" value="{% if request.user.name %}{{request.user.name}}{% endif %}"></div> -->
                <br>
                <div style="color:white;">Info : <br> {{form.info}}</div>
                <!-- <div style="color: white;">Info</div><textarea name="info" id="" cols="50" rows="10">{% if request.user.info %}{{request.user.info}}{% endif %}</textarea> -->
                <br><br>
                <div style="color:white;">Github : {{form.github}}</div>
                <!-- <div style="color: white;">Github :   <input name="github" type = "url" value="{% if request.user.github %}{{request.user.github}}{% endif %}"></div> -->
                <br>
                <div style="color:white;">Contact email : {{form.contact_email}}</div>
                <!-- <div style="color: white;">Email  :   <input type = "email" name="contact_email" value="{% if request.user.contact_email %}{{request.user.contact_email}}{% endif %}"></div> -->
                <br>
                <div style="color:white;"> Youtube : {{form.youtube}}</div>
                <!-- <div style="color: white;">Youtube:   <input type = "url" name="youtube" value="{% if request.user.youtube %}{{request.user.youtube}}{% endif %}"></div> -->
                </div>
                <div style="color:white;">{{form.errors}}</div>
                <button id = "save" type="submit">
                    <a href="">SAVE</a> 
                </button>
        </form>
    </div>
    <h1>Edit profile</h1>
</div>
<div class="loader-wrapper"></div>

{% endblock %}