{% extends 'main.html' %}
{% load static %}
{% block head %}
	<title>Login</title>
	<style>
		body,
		html {
			margin: 0;
			padding: 0;
			height: 100%;
			background: #ffffff !important;
		}
		.user_card {
			width: 350px;
			height: 370px;
			margin-top: auto;
			margin-bottom: auto;
			background: #444444;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 60px;
			top:-50px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 20px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #fff;
			
		}

		.login_btn {
			position: absolute;
			width: 100px;
			background: #6f62ff !important;
			color: white !important;
			top:250px;
		}
		.login_btn:hover{
			background: #8479fd !important;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #6f62ff !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		
		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
		.mt-4 h1{
			position: absolute;
			top:318px;
			left:50px;
			font-size: 1.1rem;
			color: white;
		}
		.mt-4 h2{
			position: absolute;
			top:318px;
			left:250px;
			font-size: 1.1rem;
		}
		.mt-4 h3{
			position: absolute;
			top:50px;
			left:131px;
			font-size: 2rem;
			font-weight: bold;
			color: white;
		}
	</style>

{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-custom navbar-mainbg" style = "overflow: visible !important;">
    <a class="navbar-brand navbar-logo" href="{% url 'home' %}"><img class ='Logoo'src="{% static 'base/Logoo.png' %}"></a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i>HOME</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'open' %}"><i class="fas fa-th-large"></i>CATEGORIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'book' %}"><i class="fas fa-book-open"></i></i>NOTEBOOK</a>
            </li>
 
            <li class="nav-item" style ="cursor: pointer;">
                {% if not request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'loginview' %}"><i class="fas fa-user-alt"></i>Sign In</a>
                {% else %}
                <a class="nav-link"><i class="fas fa-user-alt"></i>{{request.user.username}}</a>
                <ul>
                    <li class="nav-item" >
                        <a class="nav-link" href = "{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item" >
                        <a id = "logout-button" href="{% url 'logoutview' %}">Sign Out</a>
                    </li>
                </ul> 
                {% endif %}
            </li>
        </ul>
    </div>
    <div class ="search-box">
        <input class="search-txt" type = "text" name="" placeholder="Type to search">
        <a class ="search-btn" href ="#">
            <i class="fas fa-search"></i>
        </a>
        </div>
</nav>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
						{%csrf_token%}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="email" placeholder="email" class="form-control" >
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name='password' minlength="8" maxlength= "20" placeholder="Password..." class="form-control" >
						</div>

							<div>
								{% for message in messages %}
								<medium style="color: rgb(255, 0, 0);">{{message}}</medium>
								{% endfor %}
							</div>						 

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Login">
				   			</div>
					</form>

				</div>
		
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						<h1>Don't have an account?</h1> <a href="{% url 'signupview' %}" class="ml-2"><h2>Sign Up</h2></a>
						<h3>LOGIN</h3>
					</div>
			
				</div>
			</div>
		</div>
	</div>
{% endblock %}