{% extends 'main.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-custom navbar-mainbg" style = "overflow: visible !important;">
    <a class="navbar-brand navbar-logo" href="{% url 'home' %}"><div class="Logoo"></div></a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i>HOME</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'open' %}"><i class="fas fa-th-large"></i>CATEGORIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'book' %}"><i class="fas fa-book-open"></i></i>NOTEBOOK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart/"><i class="fa-solid fa-cart-shopping"></i>CART</a>
            </li>
            <li class="nav-item active" style ="cursor: pointer;">
                {% if not request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'loginview' %}"><i class="fas fa-user-alt"></i>Sign In</a>
                {% else %}
                <a class="nav-link"><i class="fas fa-user-alt"></i>{{request.user.username}}</a>
                <ul>
                    {% comment %} <li class="nav-item" >
                        <a class="nav-link" href = "{% url 'profile' %}">Profile</a>
                    </li> {% endcomment %}
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'addnote' %}">Create Note</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'order_history' %}">Order History</a>
                    </li>
                    <li class="nav-item" >
                        <a id = "logout-button" href="{% url 'logoutview' %}">Sign Out</a>
                    </li>
                </ul> 
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<div class = "mypage-header">
    <button id = "profile-pic"><img src = {{ request.user.profile_image.url }}></button>
    <p style = "margin: 20px; font-size: px;">
        {{ request.user.username }}
    </p>
    <p style = "margin: 40px; color: black; font-size: 1.3em;">
        {{request.user.info}}
    </p>
    <p>
        <div class = "row">
            <b>Likes {{request.user.like_count}}</b>
            <b style="margin-left: 5px; margin-right: 5px;">|</b>
            <b>Views {{request.user.view_count}}</b>
        </div>
    </p>
    <p style = "font-size:1.8em; color: orange; font-weight: bold; letter-spacing: 5px;" > CONTACT </p>
    <p style = "font-size:1.5em; color: #FF5733 ; font-weight: bold; letter-spacing: 5px;" > EMAIL : {{request.user.contact_email}} </p>
    <div class = "row">
            <button id = "reddot-copy">
                <a href = "#"> <img class = "reddot-pic" src={% static 'base/envelope.png' %}>
                    <article id="content-copy" style="color: rgba(0, 0, 0, 0.0); cursor: none; font-size: 0%;">
                        {{request.user.contact_email}}
                    </article>
                </a>
                <h1 >Email copy</h1>
            </button>
            
            <button id = "reddot">
                <a href = "{% if request.user.github %}{{ request.user.github }}{% endif %}"> <img class = "reddot-pic" src={% static 'base/github.png' %}></a>
                <h2>GITHUB</h2>    
            </button>
            <button id = "reddot">
                <a href = "{% if request.user.youtube %}{{ request.user.youtube }}{% endif %}"> <img class = "reddot-pic" src={% static 'base/youtube.png' %}></a>
                <h3>YOUTUBE</h3>    
            </button>
    </div> 
    <a href="{% url 'editprofile' %}"><button id = "edit-profile" style ="left: 0;"> EDIT PROFILE</button></a> 
    <div class = "line"></div>
    <div class = "row">
        <a href="{% url 'profilesort' sortid=0 %}">
            <button class ="sort {% if profilesort == 0 %}active{% endif %}" >
                <span><i class="fa-solid fa-clock-rotate-left"></i></span>
                <span>Recent</span>
            </button>
        </a>
        <a href="{% url 'profilesort' sortid=1 %}">
        <button class ="sort {% if profilesort == 1 %}active{% endif %}">
                <span><i class="fa-regular fa-eye"></i></span><span>View</span>
            
        </button>
        </a>
        <a href="{% url 'profilesort' sortid=2 %}">
        <button class ="sort {% if profilesort == 2 %}active{% endif %}">
            <span><i class="fa-regular fa-heart"></i></span>
                <span>Like</span>
        </button>
        </a>
    </div>
    <div class = "row">
    <!-- ลูปแต่ละ note จาก book view -->
        {% for n in notes %}
        <div class='col-lg-3 mt-1 mb-3'>
            <a href="{% url 'note_view' id=n.pk %}"><div class="img-box"><img src="{{n.cover.url}}" width="250" height="270" style="border-radius: 10px;"></div></a>
            <div class="product">
                <h4>
                        {{n.title}}  
                </h4>
                <h5>
                        โดย : {{n.user.username}}
                </h5>
                <div class = "eye-product"><i class="fa-regular fa-eye"></i><small>{{n.view_count}}</small></div>
                <a href="{% url 'like2' noteid=n.pk %}"><div class = "heart-product"><i class="{% if request.user in n.likes.all %}fa-solid fa-heart{% else %}fa-regular fa-heart{% endif %}"></i><small>{{n.likes.all.count}}</small></div></a>
                <div class = "chat-product"><i class="fa-regular fa-comment-dots"></i><small>{{n.comment_count}}</small></div>
                <div id = "pencil">
                    <a href = "{% url 'editnote' id=n.pk %}"><i class="fi fi-rr-edit"></i></a>
                </div>
                
            </div>
            
        </div>
        {% endfor %}
    </div>
    <script type = "text/javascript">
        $(document).ready(function(){
            $('button').on('click',function(){
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
            })
        })
    </script>
</div>


<script>

    const copyButton = document.getElementById('reddot-copy');

    copyButton.addEventListener('click', (event) => {
        // getting the text content that we want to copy
        const content = document.getElementById('content-copy').textContent;
        // loading the content into our clipboard
        navigator.clipboard.writeText(content);
        // copyButton.classList.add("active");

})
</script>
{% endblock %}