{% extends 'main.html' %}

{% block head %}
	<title>Sign up</title>
    <nav class="navbar navbar-expand-custom navbar-mainbg">
		{% comment %} <a href="{% url 'home' %}"><img src="Logoo.png"></a> {% endcomment %}
		<button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-bars text-white"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<div class="hori-selector"><div class="left"></div><div class="right"></div></div>
				<li class="nav-item ">
					<a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i>HOME</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link " href="{% url 'open' %}"><i class="fas fa-th-large"></i>CATEGORIES</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'book' %}"><i class="fas fa-book-open"></i></i>NOTEBOOK</a>
				</li>	
				<li class="nav-ite active">
					<a class="nav-link"><i class="fas fa-user-alt"></i>SIGN UP</a>
				</li>
              
			</ul>
		</div>
	</nav>
{% endblock %}

{% block content %}
<br><br>
<div class = "box-sing">
    <div class="sing-col"></div>
    <div class="sing">
            <form method="post">
                {% csrf_token %}
                
                {% for field in signup_form %}
                <p>
                    <small style="color: rgb(255, 255, 255);">{{field.label_tag}}</small>
                    {{field}}
                    
                    {% if field.help_text %}
                        <small style="color: gray;">{{field.help_text}}</small>
                    {% endif %}
                    <br>
                    {% for error in field.errors %}
                        <small style="color: red;">{{error}}</small>
                    {% endfor %}
        
                </p>
                {% endfor %}
                <button class ="btn-sing"><h1>Create Account</h1></button>
            </form>
            <h2>Sign Up</h2>
            <div class="add"></div>
    </div>

  


</div>
{% endblock %}
