{% extends 'main.html' %}

{% block head %}
	<title>Sign up</title>
{% endblock %}

{% block content %}
<br><br>
<div>
    <form method="post">
        {% csrf_token %}
        
        {% for field in signup_form %}
        <p>
            {{field.label_tag}}
            {{field}}
            
            {% if field.help_text %}
                <small style="color: gray;">{{field.help_text}}</small>
            {% endif %}
            <br>
            {% for error in field.errors %}
                <small style="color: red;">{{error}}</small>
            {% endfor %}

        </p>
        {% endfor %}
        <button type="submit" value="Submit">Sign Up</button>
    </form>
</div>
{% endblock %}
