@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
i {
	margin-right: 10px;
}
/*----------bootstrap-navbar-css------------*/
.navbar-logo{
	padding: 15px;
	color: #fff;
}
.navbar-mainbg{
	background-color: #5161ce;
	padding: 0px;
}
#navbarSupportedContent{
	overflow: hidden;
	position: relative;
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: rgba(255,255,255,0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}
#navbarSupportedContent>ul>li.active>a{
	color: #5161ce;
	background-color: transparent;
	transition: all 0.7s;
}
#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 0px;
	left: 0px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #fff;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #fff;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
}
.hori-selector .left{
	left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}
.Logoo{
	max-width: 1000px;
	width: 150px;
	height: 150px;
    position: absolute;
	top:-55%;
    left: 1px;
	
}
.header {
    display: flex;
	 display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width:100%;
    height:100vh;
    background: url(https://i2.wp.com/wallpaperaccess.com/full/869923.gif) no-repeat;
    background-size:cover;
}
.header p{
	color: white;
    position: absolute;
    top:13%;
    font-size: 4em;
    text-shadow: 10px 10px 10px rgb(21, 5, 243);
    animation:Bot 3s ease 0s infinite normal none;
}
.header b{
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
	animation:Bot 3s ease 0s infinite normal none;
	
}

.loader-wrapper {
    width: 100%;
    height: 107%;
    position: absolute;
    top:0;
    left:0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
	width: 15px;
    height: 15px;
    position: absolute;
    top:37%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    animation: loader 8s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #15258f;
    border-radius: 3px;
    animation: loader-inner 3s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    20% { transform: rotate(180deg)scale(5);}
    50% { transform: rotate(180deg)scale(5);}
  }
  @keyframes loader-inner {
    0% { height: 100%;}
    25% { height: 100%;}
    50% { height: 0%;}
    75% { height: 0%;}
    100% { height: 0%;}
  }

button{
    padding: 20px 45px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0px;
	border-radius: 15%;
    background: transparent;
    position: relative;
    margin: 20px;
    transition: all 0.25s ease;

}

.btn-1:hover::after{
    transform: translate(-7px,-7px);
    border:5px solid #5ea9ff ;
}
.btn-1:hover::before{
    transform: translate(7px,7px);
    border:5px solid #1608e2;
}
.btn-1:after,.btn-1::before{
    content:"";
    border:5px solid rgb(255, 255, 255);
	
    position: absolute;
    border-radius: inherit;
    width:100%;
    height:100%;
    left:0;
    bottom: 0;
    transition: all 0.25s ease;
   
}


.typing{
    position: relative;
    line-height: 24px;
    display: inline-block;
    color: rgb(255, 255, 255);
    min-width: 1px;
    min-height: 24px;
}
.typing:after{
    content:"";
    position: absolute;
    top:-47%;
    width:15px;
    height: 220%;
    border-right:4px solid rgb(255, 255, 255) ;
    animation: blink 0.7s infinite ease;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
    
}
.targetElement{
    position: absolute;
    left:220px;
    top:120%;
    color:var(--text);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 65px;
    transform-origin: center center;    
    animation:Anime 7s ease 0s infinite normal none;
}
.targetElement2{
    position: absolute;
    left:700px;
    color:var(--text);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 65px;
    transform-origin: center center;    
    animation:Anime2 7s ease 0s infinite normal none;
}

.search-box{
	position: absolute;
	top: 23%;
	left: 10%;
	transform: translate(0,-5%);
	background: rgb(255, 255, 255);
	border-radius: 40px;
	padding:0px;
	display: none;
}
.search-box:hover > .search-txt{
	width: 600px;
	padding:0 6px;
}
.search-btn{
	color: #e84118;
	float:right;
	width: 50px;
	height: 40px;
	border-radius: 80%;
	background:rgb(255, 255, 255) ;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-txt{
	border:none;
	background: none;
	outline: none;
	float:right;
	padding: 0;
	color: rgb(0, 0, 0);
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
}
.img {
    width: 300px;
    height: 300px;
    border: .3rem solid #fff;
    border-radius: 10%;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .4);
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.card {
    background:url(https://i.pinimg.com/originals/2e/ff/9f/2eff9f54508ac631fb5a85dc20f834d4.gif);
    margin: 0 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
    border: .5rem solid white;
	margin-top: 100px;
    transition: 10ms ease-in-out transform;
}
.check_btn {
    position: absolute;
    top: 8%;
    right: 8%;
    background-color: rgba(92, 92, 92, .4);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: .5rem;
}
.fa-check {
    color: #fff;
}
.title {
    margin: 1.5rem 0;
}
.title,
ul li {
    color: #ffffff;
    text-shadow: 0 0 .1rem rgba(0, 0, 0, .4);
}



.card:hover {
    transform: scale(1.1);
	animation:Anime 3s ease 0s infinite normal none;
}

.check_btn:hover{
	background-color:rgb(21, 5, 243);
}


.card:active {
    transform: scale(.95);
}

input[id="card_one"]:checked ~ label[for="card_one"] .card,
input[id="card_two"]:checked ~ label[for="card_two"] .card,
input[id="card_three"]:checked ~ label[for="card_three"] .card {
    border-color: rgb(21, 5, 243);
}
/* you can see based on which card is checked the border color will be changed */
/* ~ selector selects the sibling elements, in this case the label */


input[id="card_one"]:checked ~ label[for="card_one"] .card .img,
input[id="card_two"]:checked ~ label[for="card_two"] .card .img,
input[id="card_three"]:checked ~ label[for="card_three"] .card .img {
    border-color: rgb(21, 5, 243);
    box-shadow: 0 0 .5rem rgb(21, 5, 243);
}
input{
	display: none;
}

@keyframes Bot {
    0.0%{
		text-shadow: 4px 4px 4px rgb(253, 253, 255);
        transform: scale(1.3);
    }
    50.8%{
		
		text-shadow: 8px 8px 8px rgb(84, 84, 238);
        transform: scale(1.1);
    }
	100%{
		
		text-shadow: 10px 10px 10px rgb(21, 5, 243);
        transform: scale(1.2);
    }
}


@keyframes Anime {
    0.0%{
		border-color: #0021fa;
		box-shadow: 15px 15px 15px #b9c1f5;
		transform: scale(1.1);
    }
    50.8%{
		
		border-color: #0528ee;
		box-shadow: 8px 8px 8px #ae9cf1;
		transform: scale(1.1);
    }
	100%{
		border-color: #0021fa;
		box-shadow: 6px 6px 6px #908efa;
		transform: scale(1.1);
    }
}
@keyframes Anime2 {
    0.0%{
        color: transparent;
    }
    100%{
        color: transparent;
    }
    49.9%{
        transform: translate(-185px,-20px) scale(1.5);
        color: rgb(255, 255, 255);
    }
}

@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
	.targetElement{
        font-size: 5rem;
        top:70%;
        left:10%;
    }
    .targetElement2{
        font-size: 5rem;
        top:70%;
        left:90%;
    }
}


@media screen and (max-width: 991px) and (min-width:800px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
	.targetElement{
        font-size: 5rem;
        top:70%;
        left:15%;
    }
    .targetElement2{
        font-size: 5rem;
        top:70%;
        left:75%;
    }
	.header p{
		position:relative;
		top:70px;
		font-size: 4em;
	}
	.img {
		width: 380px;
		height: 380px;
	}
	.header {
		width:100%;
		height:100%;
	}
	.loader {
		border: 1px solid rgb(255, 255, 255);
	  }
 
}
@media screen and (max-width: 799px)and (min-width:550px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
	.targetElement{
        font-size: 5rem;
        top:70%;
        left:15%;
    }
    .targetElement2{
        font-size: 5rem;
        top:70%;
        left:80%;
    }
	button{
		padding: 20px 50px;
		font-size: 1rem;
		cursor: pointer;
		border: 0px;
		background: transparent;
		position: relative;
		margin: 20px;
		transition: all 0.25s ease;
	}
	.header p{
		position: absolute;
		top:40%;
		font-size: 3em;
		text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	}
	.header p{
		position:relative;
		top:70px;
		font-size: 4em;
	}
	.img {
		width: 350px;
		height: 350px;
	}
	.header {
		width:100%;
		height:100%;
	}
	.loader {
		border: 1px solid rgb(255, 255, 255);
	  }
	
}
@media screen and (max-width: 550px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}
	.targetElement{
        font-size: 2rem;
        top:70%;
        left:-5%;
    }
    .targetElement2{
        font-size: 2rem;
        top:70%;
        left:105%;
    }
	button{
		padding: 10px 10px;
		font-size: 1rem;
		cursor: pointer;
		border: 0px;
		background: transparent;
		position: relative;
		margin: 20px;
		transition: all 0.25s ease;
	}
	.header p{
		position:relative;
		top:60px;
		font-size: 2.5em;
	}
	.img {
		width: 200px;
		height: 200px;
	}
	.header {
		width:100%;
		height:100%;
	}
	.loader {
		border: 1px solid rgb(255, 255, 255);
	  }
}