@import url('https://fonts.googleapis.com/css?family=Promt');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin');
body {
    /* font-family: 'Promt', sans-serif; */
    font-family: 'Kanit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}


/*----------bootstrap-navbar-css------------*/

.navbar-logo {
    padding: 15px;
    color: #fff;
}

.navbar-mainbg {
    background-color: #5161ce;
    padding: 0px;
}

#navbarSupportedContent {
    overflow: hidden;
    position: relative;
}

#navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
}

#navbarSupportedContent ul li a i {
    margin-right: 10px;
}

#navbarSupportedContent li {
    list-style-type: none;
    float: left;
}

#navbarSupportedContent ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

nav ul li a {
    color: #EC0033;
}

#navbarSupportedContent>ul>li.active>a {
    color: #5161ce;
    background-color: transparent;
    transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
}

.hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}

.hori-selector .right {
    right: -25px;
}

.hori-selector .left {
    left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5161ce;
}

.hori-selector .right:before {
    bottom: 0;
    right: -25px;
}

.hori-selector .left:before {
    bottom: 0;
    left: -25px;
}

.Logoo {
    max-width: 1000px;
    width: 150px;
    height: 150px;
    position: absolute;
    top: -55%;
    left: 1px;
    background: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/276037407_871947346911586_774893112822355969_n.png?stp=dst-png_p206x206&_nc_cat=111&ccb=1-5&_nc_sid=aee45a&_nc_ohc=KJCvvyIrkksAX_NtRAM&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVLeDPeIocsHFqqJmB8YdByNh0aDmWKNyVPJr5bIaBAhLA&oe=62713E40) no-repeat;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(https://wallpaperxyz.com/wp-content/uploads/Chill-Lofi-Background-Wallpaper-Full-HD-Free-Download-for-PC-Laptop-Macbook-231121-Wallpaperxyz.com-1.gif) no-repeat;
    background-size: cover;
}

.header p {
    color: white;
    position: absolute;
    top: 29%;
    font-size: 4em;
    text-shadow: 10px 10px 10px rgb(21, 5, 243);
}

.header b {
    color: rgb(255, 255, 255);
    font-size: 1.6em;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
    animation: Bot 3s ease 0s infinite normal none;
}

.header-addnote {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(https://wallpaperxyz.com/wp-content/uploads/Chill-Lofi-Background-Wallpaper-Full-HD-Free-Download-for-PC-Laptop-Macbook-231121-Wallpaperxyz.com-1.gif) no-repeat;
    background-size: cover;
}


/* =================book=================== */

.header-book {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: white;
    background-size: cover;
}

.header-book #MR {
    color: rgb(0, 0, 0);
    position: absolute;
    top: -5px;
    ;
    font-size: 3.8em;
    text-shadow: 10px 10px 10px rgb(21, 5, 243);
    animation: rank 3s ease 0s infinite normal none;
}

.header-book #sort-bar {
    position: absolute;
    width: 650px;
    height: 70px;
    background-color: white;
    border-radius: 35px;
    border: 3px solid #9a97f0;
    top: 500px;
    left: 350px;
}

.header-book #sort-bar .btn-2 {
    position: absolute;
    border-radius: 30px;
    height: 50px;
    width: 160px;
    /* top: -73px;
    left: 350px; */
}

.header-book #sort-bar .btn-2:focus {
    background-color: #E6EEF9;
    color: #185EE0;
    border-radius: 30px;
}

.header-book #sort-bar .icon {
    position: absolute;
    top: 3px;
    left: 25px;
    font-size: 2rem;
}

.header-book #sort-bar .btn-3 {
    position: absolute;
    border-radius: 30px;
    height: 50px;
    width: 160px;
    top: -73px;
    left: 568px;
}

.header-book #sort-bar .btn-3:focus {
    background-color: #E6EEF9;
    color: #185EE0;
    border-radius: 30px;
}

.header-book #sort-bar .btn-4 {
    position: absolute;
    border-radius: 30px;
    height: 50px;
    width: 160px;
    top: -73px;
    left: 800px;
}

.header-book #sort-bar .btn-4:focus {
    background-color: #E6EEF9;
    color: #185EE0;
    border-radius: 30px;
}

.loader-wrapper {
    width: 100%;
    height: 107%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 37%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    animation: loader 5s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #15258f;
    border-radius: 3px;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(180deg)scale(5);
    }
    50% {
        transform: rotate(180deg)scale(5);
    }
}

@keyframes loader-inner {
    0% {
        height: 100%;
    }
    25% {
        height: 100%;
    }
    50% {
        height: 0%;
    }
    75% {
        height: 0%;
    }
    100% {
        height: 0%;
    }
}

.container-tbn {
    height: 100%;
    position: absolute;
    top: 100%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.tbn {
    margin-top: calc(50% + 25px);
    position: relative;
    display: inline-block;
    width: 277px;
    height: 50px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: 0.045em;
}

.tbn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.tbn svg rect {
    stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.tbn span {
    background: rgb(255, 130, 130);
    background: -moz-linear-gradient(left, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
    background: linear-gradient(to right, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tbn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

button {
    padding: 20px 45px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0px;
    border-radius: 15%;
    background: transparent;
    position: relative;
    margin: 20px;
    transition: all 0.25s ease;
}

.btn-1:hover::after {
    transform: translate(-7px, -7px);
    border: 5px solid #1608e2;
}

.btn-1:hover::before {
    transform: translate(7px, 7px);
    border: 5px solid #1608e2;
}

.btn-1:after,
.btn-1::before {
    content: "";
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transition: all 0.25s ease;
}

.typing {
    position: relative;
    line-height: 24px;
    display: inline-block;
    color: rgb(255, 255, 255);
    min-width: 1px;
    min-height: 24px;
}

.typing:after {
    content: "";
    position: absolute;
    top: -47%;
    width: 15px;
    height: 220%;
    border-right: 4px solid rgb(255, 255, 255);
    animation: blink 0.7s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.targetElement {
    position: absolute;
    left: 220px;
    top: 120%;
    color: var(--text);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 65px;
    transform-origin: center center;
    animation: Anime 7s ease 0s infinite normal none;
}

.targetElement2 {
    position: absolute;
    left: 700px;
    color: var(--text);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    font-size: 65px;
    transform-origin: center center;
    animation: Anime2 7s ease 0s infinite normal none;
}


/* ============================================================== ส่วนด้านบน อันดับแรงค์ ============================================*/

.box-rank {
    position: relative;
    top: -43%;
    left: 3%;
    height: 100px;
    width: 500px;
}

.crown {
    position: absolute;
    top: -8px;
    left: -110px;
    height: 80px;
    width: 100px;
    background: url(https://blog.joypixels.com/content/images/2020/09/crown.gif) no-repeat;
    background-size: cover;
}

.box-peo {
    position: relative;
    top: 100px;
    left: -280px;
    height: 500px;
    width: 1000px;
}

.col-1 {
    width: 150px;
    height: 450px;
    top: 50px;
    background-color: #9BD1AC;
    float: left;
    border-radius: 15px;
    padding: 150px;
    margin: 10px;
}

.img-col1_3 {
    position: absolute;
    width: 250px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    top: 20px;
    left: 25px;
}

.col-2 {
    width: 150px;
    height: 450px;
    background-color: #FF928C;
    float: left;
    border-radius: 15px;
    padding: 150px;
    margin: 10px;
    top: 10px;
}

.col-3 {
    width: 150px;
    height: 450px;
    top: 50px;
    background-color: #89CFF0;
    float: left;
    border-radius: 15px;
    padding: 150px;
    margin: 10px;
}

#title-name p {
    color: #000;
    position: absolute;
    top: 320px;
    left: 70px;
    font-size: 25px;
}

.small1 {
    position: absolute;
    width: 90px;
    height: 35px;
    background-color: #F8E684;
    border-radius: 15px;
    top: 390px;
    left: 50px;
}

.small2 {
    position: absolute;
    width: 90px;
    height: 35px;
    background-color: #F8E684;
    border-radius: 15px;
    top: 390px;
    left: 160px;
}

.eye {
    position: absolute;
    width: 35px;
    height: 26px;
    top: 395px;
    left: 55px;
    background: url(https://bootstrapfriendly.com/static/images/eyes.gif) no-repeat;
    background-size: cover;
}

.heart {
    position: absolute;
    font-size: 1.4rem;
    top: 392px;
    left: 170px;
}

.rank1 {
    position: absolute;
    top: -45px;
    left: -40px;
    height: 110px;
    width: 110px;
    background: url(https://thumbs.gfycat.com/SpryGrotesqueIvorybilledwoodpecker-max-1mb.gif) no-repeat;
    background-size: cover;
}

.rank2 {
    position: absolute;
    top: -45px;
    left: -40px;
    height: 110px;
    width: 110px;
    background: url(https://dlvkyia8i4zmz.cloudfront.net/nNM5FljQ66A2N0ebJ85U_silver_final.gif) no-repeat;
    background-size: cover;
}

.rank3 {
    position: absolute;
    top: -45px;
    left: -40px;
    height: 110px;
    width: 110px;
    background: url(https://thumbs.gfycat.com/BabyishRectangularCoypu-max-1mb.gif) no-repeat;
    background-size: cover;
}

.rainbow1 {
    position: absolute;
    top: 430px;
    left: -230px;
    height: 100px;
    width: 250px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Rainbow-diagram-ROYGBIV.svg/1200px-Rainbow-diagram-ROYGBIV.svg.png) no-repeat;
    background-size: cover;
}

.rainbow2 {
    position: absolute;
    top: 430px;
    left: 940px;
    height: 100px;
    width: 250px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Rainbow-diagram-ROYGBIV.svg/1200px-Rainbow-diagram-ROYGBIV.svg.png) no-repeat;
    background-size: cover;
}

.cloud1 {
    position: absolute;
    top: 505px;
    left: -50px;
    height: 60px;
    width: 100px;
    background: url(https://media4.giphy.com/media/frHMkZ3Wnjx1YR2RvB/giphy.gif?cid=6c09b952bb34058dcfecbeb63da4fbc2f86fdb87502711d3&rid=giphy.gif&ct=s) no-repeat;
    background-size: cover;
}

.cloud2 {
    position: absolute;
    top: 505px;
    left: -270px;
    height: 60px;
    width: 100px;
    background: url(https://media4.giphy.com/media/frHMkZ3Wnjx1YR2RvB/giphy.gif?cid=6c09b952bb34058dcfecbeb63da4fbc2f86fdb87502711d3&rid=giphy.gif&ct=s) no-repeat;
    background-size: cover;
}

.cloud3 {
    position: absolute;
    top: 505px;
    left: 900px;
    height: 60px;
    width: 100px;
    background: url(https://media4.giphy.com/media/frHMkZ3Wnjx1YR2RvB/giphy.gif?cid=6c09b952bb34058dcfecbeb63da4fbc2f86fdb87502711d3&rid=giphy.gif&ct=s) no-repeat;
    background-size: cover;
}

.cloud4 {
    position: absolute;
    top: 505px;
    left: 1130px;
    height: 60px;
    width: 100px;
    background: url(https://media4.giphy.com/media/frHMkZ3Wnjx1YR2RvB/giphy.gif?cid=6c09b952bb34058dcfecbeb63da4fbc2f86fdb87502711d3&rid=giphy.gif&ct=s) no-repeat;
    background-size: cover;
}

.pu1 {
    position: absolute;
    top: -60px;
    left: -270px;
    height: 160px;
    width: 200px;
    background: url(https://f.ptcdn.info/771/002/000/1362331152-1361452452-o.gif) no-repeat;
    background-size: cover;
}

.pu2 {
    position: absolute;
    top: -60px;
    left: 990px;
    height: 160px;
    width: 200px;
    background: url(https://f.ptcdn.info/771/002/000/1362331152-1361452452-o.gif) no-repeat;
    background-size: cover;
}

.box-rank .line {
    position: absolute;
    top: 540px;
    left: -20px;
    height: 2.5px;
    width: 1000px;
    background-color: #a7a7a7;
}

.btn-heart {
    position: absolute;
    top: 300px;
    left: 110px;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
}

.btn-heart:focus {
    background-color: #E6EEF9;
    color: #185EE0;
}


/* ============================================================== ส่วนด้านล่าง สินค้า พวกโน๊ตต่างๆ  ============================================*/

.box-product {
    position: relative;
    top: 220px;
    left: -500px;
    height: 500px;
    width: 1400px;
}

.img-box {
    /*เอาไว้ใส่รูปหน้าปกโน้ต*/
    cursor: pointer;
    position: absolute;
    width: 250px;
    height: 265px;
    background-color: white;
    border-radius: 15px;
    top: 45px;
    left: 60px;
}

.box-product h1 {
    position: absolute;
    top: 15px;
    left: 70px;
    font-size: 1.3rem;
}

.box-product h2 {
    position: absolute;
    top: 15px;
    left: 80px;
    font-size: 1.4rem;
}

.box-product h3 {
    position: absolute;
    top: 15px;
    left: 80px;
    font-size: 1.4rem;
}

.box-product h4 {
    color: #FFE65B;
    position: absolute;
    top: 330px;
    left: 70px;
    font-size: 25px;
}

.box-product h5 {
    color: #FFE65B;
    position: absolute;
    top: 365px;
    left: 70px;
    font-size: 25px;
}

.icon {
    position: absolute;
    top: 3px;
    left: 25px;
    font-size: 2rem;
}

.product {
    width: 70px;
    height: 420px;
    background-color: #9a97f0;
    border-radius: 15px;
    padding: 140px;
    margin: 30px;
}

.img-product-1 {
    position: absolute;
    width: 240px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    top: 50px;
    left: 50px;
}

.img-product-2 {
    position: absolute;
    width: 240px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    top: 50px;
    left: 390px;
}

.img-product-3 {
    position: absolute;
    width: 240px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    top: 50px;
    left: 730px;
}

.img-product-4 {
    position: absolute;
    width: 240px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    top: 50px;
    left: 1070px;
}

.img-product-5 {
    position: absolute;
    width: 240px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    top: 530px;
    left: 50px;
}

.img-product-6 {
    position: absolute;
    width: 240px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    top: 530px;
    left: 390px;
}

.img-product-7 {
    position: absolute;
    width: 240px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    top: 530px;
    left: 730px;
}

.img-product-8 {
    position: absolute;
    width: 240px;
    height: 280px;
    background-color: white;
    border-radius: 15px;
    top: 530px;
    left: 1070px;
}

.header-book .eye-product {
    position: absolute;
    top: 400px;
    left: 70px;
    font-size: 1.2rem;
    cursor: pointer;
}

.header-book .heart-product {
    cursor: pointer;
    position: absolute;
    top: 400px;
    left: 160px;
    font-size: 1.2rem;
}

.header-book .chat-product {
    cursor: pointer;
    position: absolute;
    top: 400px;
    left: 250px;
    font-size: 1.2rem;
}


/* ================================================================ Sing in ===============================================*/

.box-sing {
    position: relative;
    top: 40px;
    left: 130px;
    height: 500px;
    width: 1200px;
}

.box-sing h1 {
    position: absolute;
    top: 10px;
    left: 90px;
    font-size: 1rem;
    color: #FFFFFF;
}

.box-sing h2 {
    position: absolute;
    top: -45px;
    left: -100px;
    font-size: 1.5rem;
    color: #ffffff;
}

.btn-sing {
    position: absolute;
    border-radius: 7px;
    background-color: #6f62ff;
    height: 20px;
    width: 270px;
    top: 430px;
    left: 30px;
}

.btn-sing:hover {
    background-color: #7e73ff;
}

.sing {
    position: absolute;
    width: 380px;
    border-radius: 15px;
    padding: 1px;
    margin-top: -9px;
    top: 35px;
    left: 500px;
}

.sing-col {
    position: absolute;
    width: 300px;
    height: 550px;
    top: -50px;
    left: 360px;
    background-color: #444444;
    border-radius: 15px;
    padding: 300px;
    margin: 10px;
}

.add {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 457px;
    left: 100px;
    background: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/277359103_565503511284225_5155554532343054324_n.png?stp=dst-png_p206x206&_nc_cat=103&ccb=1-5&_nc_sid=aee45a&_nc_ohc=U6YCgCOEcokAX896a-y&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVLif2IyhBa5RHEWr5mXrAvQ0lR4lrCuFVzio0qSEp9RSA&oe=62705DFE) no-repeat;
    background-size: cover;
}


/* ================================================================ Add Note ==================================================*/

.box-addnote {
    position: relative;
    top: 40px;
    left: 130px;
    height: 500px;
    width: 1200px;
}

.box-addnote h1 {
    position: absolute;
    top: 10px;
    left: 29px;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
}

.addnote-col {
    position: absolute;
    width: 600px;
    height: 650px;
    top: -10px;
    left: 360px;
    background-color: #444444;
    border-radius: 15px;
    padding: 300px;
    margin: 10px;
}

.addnote {
    position: absolute;
    width: 380px;
    border-radius: 15px;
    padding: 1px;
    margin-top: -9px;
    top: 35px;
    left: 500px;
}

.btn-addnote {
    position: absolute;
    border-radius: 7px;
    background-color: #6f62ff;
    height: 20px;
    width: 110px;
    top: 500px;
    left: 310px;
}

.btn-addnote:hover {
    background-color: #7e73ff;
}


/*================================================================= search ====================================================*/

.search-box {
    position: absolute;
    top: 23%;
    left: 10%;
    transform: translate(0, -5%);
    background: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 0px;
}

.search-box:hover>.search-txt {
    width: 600px;
    padding: 0 6px;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 50px;
    height: 40px;
    border-radius: 80%;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}


/*================================================================= PreviewNotePage ====================================================*/

.header-preview-note {
    text-align: center;
    font-size: 30px;
}

.box-preview {
    position: relative;
    left: 50%;
    height: 800px;
    width: 1600px;
    margin-left: -750px;
    margin-top: 15px;
    border: 2px solid red;
}

.preview {
    height: 380px;
    background-color: #9a97f0;
    border-radius: 15px;
    padding: 130px;
    margin: 10px;
    float: left;
    cursor: pointer;
}

.btn-dow {
    position: absolute;
    border-radius: 30px;
    height: 50px;
    width: 190px;
    top: -73px;
    left: 1290px;
    background-color: #E6EEF9;
}


/*================================================================= Chat Preview ====================================================*/

.box-preview-chat {
    position: relative;
    top: 15px;
    left: 50%;
    height: 500px;
    width: 1400px;
    margin-left: -700px;
    margin-top: 15px;
    border: 3px solid red;
}

.box-preview-chat h1 {
    position: absolute;
    font-size: 30px;
    color: rgb(0, 0, 0);
    top: 215px;
    left: 630px;
}

.line-pre {
    position: absolute;
    top: 185px;
    left: 30px;
    height: 2.5px;
    width: 1300px;
    background-color: #a7a7a7;
}

.prechat {
    position: absolute;
    top: 210px;
    left: 580px;
    height: 40px;
    width: 40px;
    background: url(https://scontent.fbkk8-4.fna.fbcdn.net/v/t1.15752-9/277688713_969551000394031_3584638488196745563_n.png?_nc_cat=100&ccb=1-5&_nc_sid=ae9488&_nc_ohc=6j-gD7fxK20AX--hjsD&_nc_ht=scontent.fbkk8-4.fna&oh=03_AVKQHDLo82uc90qvv6CNuWPfphrba3i5AVStBj8vgEflDw&oe=627FBAF4) no-repeat;
    background-size: cover;
}


/* ================================= Drop Down Hover =============================== */

.btn-drop {
    position: absolute;
    border-radius: 30px;
    height: 40px;
    top: -10px;
    width: 122px;
    border: 2px solid red;
}

.dropdown-menu {
    display: none;
}


/* =================================My page=============================== */

.mypage-header {
    text-align: center;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 571px;
    top: 97px;
}

.mypage-header .img-box {
    /*เอาไว้ใส่รูปหน้าปกโน้ต*/
    cursor: pointer;
    position: absolute;
    width: 250px;
    height: 265px;
    background-color: white;
    border-radius: 15px;
    top: 25px;
    left: 60px;
}

.mypage-header img {
    align-content: center;
    width: 100%;
}

.mypage-header #profile-pic {
    background-color: #6E62FF;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.mypage-header p {
    font-size: 30px;
    color: #6E62FF;
}

.mypage-header .row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 10px;
}

.mypage-header #reddot {
    /* display: flex; */
    position: relative;
    background-color: #F8574F;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.mypage-header #reddot .reddot-pic {
    position: absolute;
    top: 26px;
    left: 26px;
    width: 50px;
    height: 50px;
}

.mypage-header .container {
    width: 633px;
    height: 76px;
    border-radius: 30px;
    /*background-color: #b8cfee;*/
}

.mypage-header .sort {
    border-radius: 30px;
    /*background-color: #b8cfee;*/
}

.mypage-header .sort:hover {
    /*background-color: #b8cfee;*/
    color: #185EE0;
    border-radius: 30px;
    border-color: #89CFF0;
}

.mypage-header .sort:focus {
    background-color: #b8cfee;
    color: #185EE0;
    border-radius: 30px;
    border-color: #89CFF0;
}

.mypage-header .line {
    /* position: absolute; */
    /* top: 540px;
    left: -20px; */
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2.5px;
    width: 1700;
    background-color: #a7a7a7;
}

.mypage-header .product h4 {
    color: #FFE65B;
    position: absolute;
    top: 310px;
    left: 70px;
    font-size: 25px;
}

.mypage-header .product h5 {
    color: #FFE65B;
    position: absolute;
    top: 340px;
    left: 70px;
    font-size: 25px;
}

.mypage-header .eye-product {
    position: absolute;
    top: 375px;
    left: 70px;
    font-size: 1.2rem;
    cursor: pointer;
}

.mypage-header .heart-product {
    cursor: pointer;
    position: absolute;
    top: 375px;
    left: 160px;
    font-size: 1.2rem;
}

.mypage-header .chat-product {
    cursor: pointer;
    position: absolute;
    top: 375px;
    left: 250px;
    font-size: 1.2rem;
}

.mypage-header #edit-profile,
.edit-profile #save {
    width: 200px;
    height: 100px;
    background-color: #6E62FF;
    border-radius: 10%;
}

.edit-profile #save:hover {
    width: 200px;
    /* height: 100px; */
    background-color: #4b3bfc;
    color: wheat;
    font-size: medium;
}

.mypage-header #edit-profile a,
.edit-profile #save a {
    text-decoration: none;
    color: wheat;
    font-size: medium;
}

.mypage-header #edit-profile:hover {
    width: 200px;
    height: 100px;
    background-color: #6E62FF;
    box-shadow: 5px 10px #5161ce;
    border-radius: 10%;
    color: wheat;
    font-size: medium;
}


/* =======================EDIT PROFILE====================== */

.edit-profile #container {
    position: absolute;
    width: 915px;
    height: 815px;
    left: 262px;
    top: 144px;
    background: #444444;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: auto;
}

.edit-profile #container img {
    background-color: #6E62FF;
    box-shadow: 5px 5px #15258f;
    border-radius: 50%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.edit-profile h1 {
    position: absolute;
    width: 187px;
    height: 54px;
    left: 314px;
    top: 187px;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: white;
}

.edit-profile form {
    display: flex;
    margin: 30px 30px;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    height: 1000px;
    border-radius: 20%;
}

.edit-profile form input {
    border-radius: 10%;
}

@keyframes Bot {
    0.0% {
        text-shadow: 4px 4px 4px rgb(253, 253, 255);
    }
    50.8% {
        text-shadow: 8px 8px 8px rgb(151, 151, 248);
    }
    100% {
        text-shadow: 10px 10px 10px rgb(21, 5, 243);
    }
}

@keyframes rank {
    0.0% {
        text-shadow: 6px 6px 6px rgb(170, 170, 255);
    }
    50.8% {
        text-shadow: 4px 4px 4px rgb(114, 114, 246);
    }
    100% {
        text-shadow: 6px 6px 6px rgb(207, 203, 254);
    }
}

@keyframes Anime {
    0.0% {
        color: transparent;
    }
    100% {
        color: transparent;
    }
    49.9% {
        transform: translate(200px, 20px) scale(1.5);
        color: rgb(255, 255, 255);
    }
}

@keyframes Anime2 {
    0.0% {
        color: transparent;
    }
    100% {
        color: transparent;
    }
    49.9% {
        transform: translate(-185px, -20px) scale(1.5);
        color: rgb(255, 255, 255);
    }
}

@media(min-width: 992px) {
    .navbar-expand-custom {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
    .navbar-expand-custom .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .targetElement {
        font-size: 5rem;
        top: 70%;
        left: 10%;
    }
    .targetElement2 {
        font-size: 5rem;
        top: 70%;
        left: 90%;
    }
}

@media screen and (max-width: 991px) and (min-width:700px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }
    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }
    .hori-selector .left {
        top: -25px;
        left: auto;
    }
    .hori-selector .right {
        bottom: -25px;
    }
    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }
    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
    .targetElement {
        font-size: 5rem;
        top: 70%;
        left: 15%;
    }
    .targetElement2 {
        font-size: 5rem;
        top: 70%;
        left: 75%;
    }
    .search-box {
        display: none;
    }
    .loader {
        border: 1px solid rgb(255, 255, 255);
    }
}

@media screen and (max-width: 699px)and (min-width:550px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }
    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }
    .hori-selector .left {
        top: -25px;
        left: auto;
    }
    .hori-selector .right {
        bottom: -25px;
    }
    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }
    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
    .targetElement {
        font-size: 5rem;
        top: 70%;
        left: 15%;
    }
    .targetElement2 {
        font-size: 5rem;
        top: 70%;
        left: 80%;
    }
    button {
        padding: 20px 50px;
        font-size: 1rem;
        cursor: pointer;
        border: 0px;
        background: transparent;
        position: relative;
        margin: 20px;
        transition: all 0.25s ease;
    }
    .header p {
        position: absolute;
        top: 40%;
        font-size: 3em;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }
    .search-box {
        display: none;
    }
    .loader {
        border: 1px solid rgb(255, 255, 255);
    }
    .typing {
        line-height: 0px;
        min-height: 0px;
    }
}

@media screen and (max-width: 550px) {
    #navbarSupportedContent ul li a {
        padding: 12px 30px;
    }
    .hori-selector {
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right {
        right: 10px;
    }
    .hori-selector .left {
        top: -25px;
        left: auto;
    }
    .hori-selector .right {
        bottom: -25px;
    }
    .hori-selector .left:before {
        left: -25px;
        top: -25px;
    }
    .hori-selector .right:before {
        bottom: -25px;
        left: -25px;
    }
    button {
        padding: 10px 10px;
        font-size: 0.9rem;
        cursor: pointer;
        border: 0px;
        background: transparent;
        position: relative;
        margin: 20px;
        transition: all 0.25s ease;
    }
    .header p {
        position: absolute;
        top: 40%;
        font-size: 2em;
        text-shadow: 10px 10px 10px rgb(21, 5, 243);
    }
    .loader {
        border: 1px solid rgb(255, 255, 255);
    }
    .search-box {
        display: none;
    }
    .typing {
        line-height: 0px;
        min-height: 0px;
    }
}