{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head %}
<title>Addnote</title>
{% endblock %}
{% block content %}
<style>
    select .form-control{
        width: 50%;
    }
</style>
 <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="{% url 'home' %}"><div class="Logoo"></div></a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i>HOME</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'open' %}"><i class="fas fa-th-large"></i>CATEGORIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'book' %}"><i class="fas fa-book-open"></i></i>NOTEBOOK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart/"><i class="fa-solid fa-cart-shopping"></i>CART</a>
            </li>
            <li class="nav-item" style ="cursor: pointer;">
                {% if not request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'loginview' %}"><i class="fas fa-user-alt"></i>Sign In</a>
                {% else %}
                {% comment %} <a class="nav-link" href="{% url 'logoutview' %}"><i class="fas fa-user-alt"></i>{{request.user.username}}</a> {% endcomment %}
                <a class="nav-link"><i class="fas fa-user-alt"></i>{{request.user.username}}</a>
                <ul>
                    <li class="nav-item" >
                        <a class="nav-link" href = "{% url 'profile' username=request.user.username %}">Profile</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'addnote' %}">Create Note</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'order_history' %}">Order History</a>
                    </li>
                    <li class="nav-item" >
                        <a id = "logout-button" href="{% url 'logoutview' %}">Sign Out</a>
                    </li>
                </ul> 
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<div class ="box-addnote center-align" style="width: 100%; height: fit-content;">
    {% comment %} <div class="addnote-col"></div> {% endcomment %}
    <div class="text-left" style="width: 650px; height: fit-content; padding: 50px; background-color: #444444; border-radius: 30px; margin-bottom: 30px;">
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <medium style="color: rgb(255, 255, 255); ">{{formA| crispy }}</medium>
            <div>
            <medium style="color: rgb(255, 255, 255);">pdf file (required) : <input name="pdf" type="file" accept=".pdf"></medium> <br> <br>
            <medium style="color: rgb(255, 255, 255);">Image file for note's cover(not required) : <input name="cover" type="file" accept="image/*"></medium> <br> <br>
            <medium style="color: rgb(255, 255, 255);">Image file(s) to preview(required) : <input required name="images" type="file" multiple accept="image/*"></medium>
            </div>
            <div class="box-btn">
                <br><button class ="btn-addnote">Submit</button>
            </div>
            
        </form>
    <div>


 
</div>
{% endblock %}