{% extends 'main.html' %}
{% load static %}
{% block head %}
{% if categ_id %}
<title>{{category_verbose}}</title>
{% else %}
<title>All | Note</title>
{% endif %}
<link rel="stylesheet" href="{% static 'base/style.css' %}">
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="{% url 'home' %}"><div class="Logoo"></div></a>
    <button tton class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>    
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i>HOME</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'open' %}"><i class="fas fa-th-large"></i>CATEGORIES</a>
            </li>
            <li class="nav-item active" style = "white">
                <a class="nav-link" href="{% url 'book' %}"><i class="fas fa-book-open"></i></i>NOTEBOOK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart/"><i class="fa-solid fa-cart-shopping"></i>CART</a>
            </li>
            <li class="nav-item" style ="cursor: pointer;">
                {% if not request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'loginview' %}"><i class="fas fa-user-alt"></i>Sign In</a>
                {% else %}
                {% comment %} <a class="nav-link" href="{% url 'logoutview' %}"><i class="fas fa-user-alt"></i>{{request.user.username}}</a> {% endcomment %}
                <a class="nav-link"><i class="fas fa-user-alt"></i>{{request.user.username}}</a>
                <ul>
                    <li class="nav-item" >
                        <a class="nav-link" href = "{% url 'profile' username=request.user.username %}">Profile</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'addnote' %}">Create Note</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'order_history' %}">Order History</a>
                    </li>
                    <li class="nav-item" >
                        <a id = "logout-button" href="{% url 'logoutview' %}"><h1>Sign Out</h1></a>
                    </li>
                </ul> 
                {% endif %}
            </li>
        </ul>
    </div>
    <div class ="search-box" style=" justify-content: center; align-items: center;" onMouseOver="this.style.opacity='0.8'"onMouseOut="this.style.opacity='1'">
        <form action="" method="POST">
        {% csrf_token %}
        <input class="search-txt" type = "text" name="search" placeholder="Type to search">
        <button type="submit" value="submit" id="submit-btn" style="display:none;"></button>
        </form>
    </div>
</nav>
<!-- show category -->



    <div class="list-group">
            {% if not categ_id %}
            <!-- <a href="{% url 'open' %}"><p style="text-align:center">Category</p></a> -->
            <!-- <h3>Category -> ALL</h3> -->
            <p style="text-align:center">Category -> ALL</p>
            <!-- <a href="{% url 'book' %}" class="list-group-item list-group-item-action {% if not categ_id %}active{% endif %}" aria-current="true"> All </a> -->
            {%endif%}
            {%for c in categories%}
            {%if categ_id|add:'0' == c.id %}
            <h3>category-> {{c.name}}</h3>
            <!-- <a href="{% url 'book' %}?categoryid={{ c.id }}" class="list-group-item list-group-item-action {% if categ_id|add:'0' == c.id %}active{% endif %}">{{c.name}}</a> -->
            <!-- <a href="{% url 'book' %}?categoryid={{ c.id }}" class="list-group-item list-group-item-action {% if categ_id|add:'0' == c.id %}active{% endif %}">{{c.name}}</a> -->
            {%endif%}
            {%endfor%}
    </div>

<!-- <div class="path" style="left: -100px;"> -->

<div class="header-book">
    <div class="box-rank">
        <div class="path"> 
            <div class="sort-bar-path">
            <a href="{% url 'open' %}" style="position: relative; left: -50px;"><h1><u>Category</u><h1></a><h2><i class="fa-solid fa-arrow-right"></i></h2><h3>{{category_verbose}}</h3>  
            </div>
        </div>
        <div class="crown one"></div>
        <p id = "MR">RANKING</p> 
        <div class="crown two"></div>
        <div class="box-peo">
            <div class = "line"></div>
            <div class="col-1">
                <a href="{% if rank2 %}{% url 'note_view' id=rank2.id %}{% endif %}" onMouseOver="this.style.opacity='0.8'"onMouseOut="this.style.opacity='1'">
                    <div class="img-box">{% if rank2 %}
                        <img src="{{rank2.cover.url}}" width="250" height="270" style="border-radius: 10px; object-fit: cover;">{% endif %}</div></a>
                    <a href="{% if rank2 %}{% url 'note_view' id=rank2.id %}{% endif %}" >
                    <h2 class="underline-on-hover" style="color: yellow;">{{rank2.title}}</h2> 
                    </a>
                    <a href="{% if rank2 %}{% url 'profile' username=rank2.user.username %}{% endif %}">
                        <h1 class="underline-on-hover">by {{rank2.user.username}}</h1> </a>
                <div class = "small1">
                    <div class = "eye-product"><i class="fa-regular fa-eye"></i></div>
                    <h3>{{rank2.view_count}}</h3> 
                </div>
                <div class = "small2">
                    <div class = "heart">  <i class="fa-regular fa-heart"></i></div>

                    <h4>{{rank2.likes.count}}</h4>
                </div>
                <div class="rank2"></div>
            </div>
            <div class="col-2">
                <a href="{% if rank1 %}{% url 'note_view' id=rank1.id %}{% endif %}" class="opacity-on-hover">
                    <div class="img-box">{% if rank1 %}
                        <img src="{{rank1.cover.url}}" width="250" height="270" style="border-radius: 10px; object-fit: cover;">{% endif %}</div></a>
                
                <a href="{% if rank1 %}{% url 'note_view' id=rank1.id %}{% endif %}" >
                <h2 class="underline-on-hover" style="color: yellow;">{{rank1.title}}</h2> 
                </a>
                <a href="{% if rank1 %}{% url 'profile' username=rank1.user.username %}{% endif %}">
                    <h1 class="underline-on-hover">by {{rank1.user.username}}</h1></a>
                <div class = "small1">
                    <div class = "eye-product"><i class="fa-regular fa-eye"></i></div>
                    <h3>{{rank1.view_count}}</h3> 
                </div>
                <div class = "small2">
                    <div class = "heart">  <i class="fa-regular fa-heart"></i></div>
                    <h4>{{rank1.likes.count}}</h4>
                </div> 
                <div class="rank1"></div>
            </div>
            <div class="col-3">
                <a href="{% if rank3 %}{% url 'note_view' id=rank3.id %}{% endif %}" class="opacity-on-hover">
                    <div class="img-box">{% if rank3 %}
                    <img src="{{rank3.cover.url}}" width="250" height="270" style="border-radius: 10px; object-fit: cover;">{% endif %}</div></a>
                <div id = "title-name">
                    <a href="{% if rank3 %}{% url 'note_view' id=rank3.id %}{% endif %}">
                    <h2 class="underline-on-hover" style="color: yellow;">{{rank3.title}}</h2>
                    </a>
                    <a href="{% if rank3 %}{% url 'profile' username=rank3.user.username %}{% endif %}">
                    <h1 class="underline-on-hover">by {{rank3.user.username}}</h1>
                    </a>
                </div> 
                <div class="rank3"></div>
                <div class = "small1">
                    <div class = "eye-product"><i class="fa-regular fa-eye"></i></div>
                    <h3>{{rank3.view_count}}</h3>                     
                </div>
                <div class = "small2">
                    <div class = "heart">  <i class="fa-regular fa-heart"></i></div>
                    <h4>{{rank3.likes.count}}</h4>
                </div>
                <div class="rank3"></div>
            </div>
        </div>
         

<div class="box-product">
            <!-- ลูปแต่ละ note จาก book view -->
            <div class="row" style="margin-top: 60px;">
            {% for n in page_object.object_list %}
            <div class='col-lg-3 mt-1 mb-3'>
                <a href="{% url 'note_view' id=n.pk %} " onMouseOver="this.style.opacity='0.7'"
                onMouseOut="this.style.opacity='1'">
                <div class="img-box" ><img src="{{n.cover.url}}" width="100%" height="270" style="border-radius: 10px; object-fit: cover;"></div></a>
                <div class="product">
                    <a href="{% url 'note_view' id=n.pk %}">
                    <h4 class="underline-on-hover" onMouseOver="this.style.opacity='1'"onMouseOut="this.style.opacity='1'">
                            {{n.title}}  
                    </h4>
                    </a>
                    <a href="{% url 'profile' username=n.user.username %}">
                    <h3 class="underline-on-hover" style="color : black">
                            {{n.user}}
                    </h3>
                    </a>
                    <div class="box-premium-sign">
                        {% if n.price != 0 %}
                            <!-- <div class="premium-sign"><i class="fi fi-rr-crown"></i></div> -->
                            <div class="premium-sign"><i class="fa-solid fa-dollar-sign"></i></div>
                        {%else%}
                            <div class="premium-sign"><p>FREE</p></div>
                        {% endif %}
                    </div>
                    <div class = "eye-product"><i class="fa-regular fa-eye"></i><small>{{n.view_count}}</small></div> 
                    <!-- เราสร้างclass ไว้ใน css แล้ว แกเตรงนั้นได้เลย  ok-->
                    <div class = "heart-product" ><a href="{% url 'like1' noteid=n.id %}" style="color: red;"><i class="{% if request.user in n.likes.all %}fa-solid fa-heart{% else %}fa-regular fa-heart{% endif %}"></i></a><small>{{n.likes.all.count}}</small></div>
                    <div class = "chat-product"><i class="fa-regular fa-comment-dots"></i><small>{{n.comment_count}}</small></div>
                    <!--<div class = "cart-product"><a href="{{ n.get_add_to_cart_url }}"><i class="fa-solid fa-cart-shopping"></i></a></div>-->
                </div>
                
            </div>
            {% endfor %}
            </div>
            
            <!-- โชว์เลขจำนวนโน๊ตที่มี-->
            <!-- <h3>Total number of books: {{ count }} , page number : {{page_object.number}}</h3> -->
            <div class="box-slide">
                <div class="slide-bar">
                    <ul class="pagination">
                        {% if page_object.has_previous %}
                        <li class="page-item"><a class="page-link" href="{% url 'book' %}?categoryid={{categ_id}}&page={{ page_object.previous_page_number }}">←</a></li>
                        {% endif %}
                        {% if page_object.has_previous or page_object.has_next  %}
                            {% for i in page_object.adjusted_elided_pages %}
                                {% if i == page_object.paginator.ELLIPSIS %}
                                    {{i}}
                                {% else %}
                                    <li class="page-item {% if page_object.number == i %}active{% endif %}">
                                    <a class="page-link" href="{% url 'book'%}?categoryid={{categ_id}}&page={{ i }}" class="{% if i == page_object.number %}page.number{% endif %}"> {{i}} </a>
                                    </li>                        
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if page_object.has_next %}
                        <li class="page-item"><a class="page-link" href="{% url 'book' %}?page={{ page_object.next_page_number }}">→</a></li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
            

</div>
        <div id = "sort-bar" style="margin-top: 50px;">
            <!--Recent-->
            {% if order_id == 0 %} 
            <a href="{% url 'sort' s=0 %}" style="text-decoration: none;"><button class ="btn-2"><div class = "icon" style="color: #185EE0; border-radius: 30px;"><i class="fa-solid fa-clock-rotate-left" ></i></div><h1 style="color: #185EE0;border-radius: 30px;">Recent<h1></button></a>
            <a href="{% url 'sort' s=1 %}" style="text-decoration: none;"><button class ="btn-3"><div class = "icon"><i class="fa-regular fa-eye"></i></div><h2>View<h2></button></a>
            <a href="{% url 'sort' s=2 %}" style="text-decoration: none;"><button class ="btn-4"><div class = "icon"><i class="fa-regular fa-heart"></i></div><h3>Like<h3></button></a>    
            <!--View-->
            {% elif order_id == 1%}
            <a href="{% url 'sort' s=0 %}" style="text-decoration: none;"><button class ="btn-2"><div class = "icon" style="border-radius: 30px;"><i class="fa-solid fa-clock-rotate-left" ></i></div><h1 >Recent<h1></button></a>
            <a href="{% url 'sort' s=1 %}" style="text-decoration: none;"><button class ="btn-3"><div class = "icon" style="color: #185EE0; border-radius: 30px;"><i class="fa-regular fa-eye"></i></div><h2 style="color: #185EE0;border-radius: 30px;">View<h2></button></a>
            <a href="{% url 'sort' s=2 %}" style="text-decoration: none;"><button class ="btn-4"><div class = "icon"><i class="fa-regular fa-heart"></i></div><h3>Like<h3></button></a>    
            <!--liket-->
            {% elif order_id == 2 %}
            <a href="{% url 'sort' s=0 %}" style="text-decoration: none;"><button class ="btn-2"><div class = "icon" style="border-radius: 30px;"><i class="fa-solid fa-clock-rotate-left" ></i></div><h1 >Recent<h1></button></a>
            <a href="{% url 'sort' s=1 %}" style="text-decoration: none;"><button class ="btn-3"><div class = "icon"><i class="fa-regular fa-eye"></i></div><h2>View<h2></button></a>
            <a href="{% url 'sort' s=2 %}" style="text-decoration: none;"><button class ="btn-4"><div class = "icon"style="color: #185EE0; border-radius: 30px;"><i class="fa-regular fa-heart"></i></div><h3  style="color: #185EE0;border-radius: 30px;">Like<h3></button></a>
            {% endif %}
            <!--<a href="{% url 'sort' s=1 %}" style="text-decoration: none;"><button class ="btn-3 {% if order_id == 1 %}active{% endif %}""><div class = "icon"><i class="fa-regular fa-eye"></i></div><h2>View<h2></button></a>
            <a href="{% url 'sort' s=2 %}" style="text-decoration: none;"><button class ="btn-4 {% if order_id == 2 %}active{% endif %}""><div class = "icon"><i class="fa-regular fa-heart"></i></div><h3>Like<h3></button></a>-->
        </div>

    </div>
</div>  
<div class=""></div>

<script>
$(document).ready(function () {
    $('.search-box').keypress(function (e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            $("#submit-btn").click();
        }
    });
});
</script>


{% endblock %}