{% extends 'main.html' %}

{% load static %}
{% block head %}
<meta charset="UTF-8">
  <title>CE l Note</title>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{% static 'base/home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="{% url 'home' %}"><div class="Logoo"></div></a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i>HOME</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'open' %}"><i class="fas fa-th-large"></i>CATEGORIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'book' %}"><i class="fas fa-book-open"></i>NOTEBOOK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart/"><i class="fa-solid fa-cart-shopping"></i>CART</a>
            </li>
            <li class="nav-item" style ="cursor: pointer;">
                {% if not request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'loginview' %}"><i class="fas fa-user-alt"></i>Sign In</a>
                {% else %}
                <a class="nav-link"><i class="fas fa-user-alt"></i>{{request.user.username}}</a>
                <ul>
                    <li class="nav-item" >
                        <a class="nav-link" href = "{% url 'profile' username=request.user.username %}">Profile</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'addnote' %}">Create Note</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'order_history' %}">Order History</a>
                    </li>
                    <li class="nav-item" >
                        <a id = "logout-button" href="{% url 'logoutview' %}"><h1>Sign Out</h1></a>
                    </li>
                </ul> 
                {% endif %}
            </li>
        </ul>
    </div>
</nav>



<div class="imgLoader"></div>

<div class="container">
    <div class="box-home">
  <p><span id="typing" class="typing"></span></p> 
  <div class="book">
    <div class="gap"></div>
    <div class="pages">
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
      <div class="page"></div>
    </div>
    <div class="flips">
      <div class="flip flip1">
        <div class="flip flip2">
          <div class="flip flip3">
            <div class="flip flip4">
              <div class="flip flip5">
                <div class="flip flip6">
                  <div class="flip flip7"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="demo" id="section03">
    <a href="#section04"><span></span></a>
  </div>
 
</div>
 <div class="box-sec04">
  <div class="CSSgal">

    <!-- Don't wrap targets in parent -->
    <s id="s1"></s> 
    <s id="s2"></s>
    <s id="s3"></s>
  
    <div class="slider">
      <div style=>
        <div class="box-secimg01"></div>
        <div class="box-secpage01">
          <p>CE Note is a website that compiles a summary of the course notes of the Faculty of Engineering. Notes are short and easy to understand.
            To help students better understand their subjects, the CE community also has a web-based comments system to ask questions they don't understand.</p>
          <h1>What is CE NOTE ?</h1>
         
        </div>
      </div>
      <div style=>
        <div class="box-secpage02">
          <h1>How Does It Work ?</h1>
          <p>There are two types of systems in CE NOTE.
          1.Visitors - Note visitors can view the notes in a free and premium format.But with Premium, visitors have to pay in order to view every page.
          2.Creator- Note Creator can create free and premium notes, The creator will be paid to the credit card that is tied to the website.</p>
        </div>
        <div class="box-secimg02"></div>
      </div>
      <div style=>
      <div class="box-secpage03">
        <h1>Developed by SDP-G1-06</h1>
        <div class="box-secminipage03"></div>
        <section class="iq-features">
          <div class="container">
                  <div class="row align-items-center">
                     <div class="col-lg-7 col-md-12 circle-bg">
                        <div class="holderCircle">
                           <div class="round"></div>
                           <div class="dotCircle" stylesa="transform: rotate(252deg); transition: all 2s ease 0s;">
                              <div class="itemDot itemDot1 active" data-tab="1" style="">
                                 <img src="https://scontent.fbkk13-1.fna.fbcdn.net/v/t1.15752-9/278851198_2882980738674105_1867524296209569951_n.png?_nc_cat=108&ccb=1-5&_nc_sid=ae9488&_nc_ohc=Oywp89YrFS0AX_rZSvY&_nc_oc=AQmEMwvaXLIXPRPrX9PbUEQvXI8su_wvhs_ALizHpDSpa-D04t7xg6Y8Yt3nIQNLn4ryYIODmw4e76MATcZnk-HO&_nc_ht=scontent.fbkk13-1.fna&oh=03_AVIv6vCxhTYRcqvnrnYuVSApL0UMVe0jE7OdFaabt_xyTA&oe=628FF7AD" alt="ImageJethroBurnettThorburnMolo-Market">
                                 <span class="forActive"></span>
                              </div>
                              <div class="itemDot itemDot2" data-tab="2" style="">
                                 <img src="https://scontent.fbkk9-3.fna.fbcdn.net/v/t1.15752-9/278457511_3176367795973290_5665361216391192481_n.png?_nc_cat=105&ccb=1-5&_nc_sid=ae9488&_nc_ohc=GZQhRLGTwokAX8l4Ve6&_nc_ht=scontent.fbkk9-3.fna&oh=03_AVIDwTUqj43Ld936KLVLkWw0RiHIeb6eWnycd5OOKewJBg&oe=628DC94E" alt="heateher-min">
                                 <span class="forActive"></span>
                              </div>
                              <div class="itemDot itemDot3" data-tab="3" style="">
                                 <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/278473150_1058280478104555_4163287208176443319_n.png?stp=dst-png_s280x280&_nc_cat=106&ccb=1-5&_nc_sid=aee45a&_nc_ohc=l3QotRgMxV0AX9Dfpvs&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVLayhukxIR-2REUqV5FPPpqEATHkNOJhvb2oBCa50FyNQ&oe=628D621D" alt="richard">
                                 <span class="forActive"></span>
                              </div>
                              <div class="itemDot itemDot4 " data-tab="4" style="">
                                 <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/278367846_560741412000556_7477312867534298743_n.png?stp=dst-png_s206x206&_nc_cat=110&ccb=1-5&_nc_sid=aee45a&_nc_aid=0&_nc_ohc=yyrDFqM_zxEAX-PXFyu&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AVJXNCE9Nnyq7QfVZ5t8UBfsE_aL5hiJDCm-wVD3govNmQ&oe=628D47EC" alt="JSimone">
                                 <span class="forActive"></span>
                              </div>
                              <div class="itemDot itemDot5" data-tab="5" style="">
                                 <img src="https://scontent.fbkk13-1.fna.fbcdn.net/v/t1.15752-9/278945846_433759131843701_6659376582614351745_n.png?_nc_cat=108&ccb=1-5&_nc_sid=ae9488&_nc_ohc=pqs3GVXBWBkAX9CXDt4&_nc_ht=scontent.fbkk13-1.fna&oh=03_AVJp05WuPnY8riaSBjhhlRX5bdN6TEdfBbewuUikz5-HDg&oe=628D826A" alt="lola.">
                                 <span class="forActive"></span>
                              </div>
                             <div class="itemDot itemDot6" data-tab="6" style="">
                                 <img src="https://scontent.fbkk12-3.fna.fbcdn.net/v/t1.15752-9/278090688_1115517359011239_1302590736366928292_n.png?_nc_cat=102&ccb=1-5&_nc_sid=ae9488&_nc_ohc=vSy6HV6qNv8AX9AoyTW&_nc_ht=scontent.fbkk12-3.fna&oh=03_AVIVTpwWGOsaZsNZPOJcw9534V2YoiVFRL4GMfypptdFAA&oe=628F3D9F" alt="richard">
                                 <span class="forActive"></span>
                              </div>
                              
                           </div>
                           <div class="content-star"></div>
                           <div class="contentCircle">
                              <div class="CirItem title-box CirItem1 active">
                                 <h5>63010151</h5>
                                 <h3>Jirayut Senanolit</h3>
                                 <h4>Frontend</h4>
                                 
                                 <i class="fa fa-clock-o"></i>
                              </div>
                              <div class="CirItem title-box CirItem2">
                                 <h5>63010034</h5>
                                 <h3>Krissada Sarawit</h3>
                                 <h4>Backend</h4>

                                 <i class="fa fa-comments"></i>
                              </div>
                              <div class="CirItem title-box CirItem3">
                                 <h5>63010187</h5>
                                 <h3>Chananchida Srithongdee</h3>
                                 <h4>Frontend</h4>
                                
                                 <i class="fa fa-user"></i>
                              </div>
                              <div class="CirItem title-box CirItem4" >
                                 <h5>63010202</h5>
                                 <h3>Charinda Sonthidee</h3>
                                 <h4>Frontend</h4>
                                
                                 <i class="fa fa-tags"></i>
                              </div>
                              <div class="CirItem title-box CirItem5">
                                 <h5>63010124</h5>
                                 <h3>Chakkapat Chuenthavorn</h3>
                                 <h4>Backend</h4>
                                
                                 <i class="fa fa-upload"></i>
                              </div>
                             
                              <div class="CirItem title-box CirItem6">
                                 <h5>63010224</h5>
                                 <h3>Chanwanit Nuchyoo</h3>
                                 <h4>Backend</h4>
                                
                                 <i class="fa fa-briefcase"></i>
                              </div>
                           </div>
                        </div>
                      </div>
                  </div>
               </div>
            </section>
      </div>
      </div>
    </div>
    
    <div class="prevNext">
      <div><div class="img-left"></div><div class="img-right"></div><a href="#s4"></a><a href="#s2"></a></div>
      <div><div class="img-left"></div><div class="img-right"></div><a href="#s1"></a><a href="#s3"></a></div>
      <div><div class="img-left"></div><div class="img-right"></div><a href="#s2"></a><a href="#s4"></a></div>
      <div><div class="img-left"></div><div class="img-right"></div><a href="#s3"></a><a href="#s1"></a></div>
    </div>
  
    <div class="bullets">
      <a href="#s1">1</a>
      <a href="#s2">2</a>
      <a href="#s3">3</a>
    </div>
  
  </div>
 </div>
</div>

<section id="section04" class="demo">

</section>


<div class="loader-wrapper">
    <span class="loader">
        <span class="loader-inner" >
        </span>

    </span>
</div>

<script>
  jQuery(document).ready( function ($) {
 
  let i=2;
  var radius = 200;
  var fields = $('.itemDot');
  var container = $('.dotCircle');
  var width = container.width();
  radius = width/1.48;
   
  var height = container.height();
  var angle = 0, step = (2*Math.PI) / fields.length;
  fields.each(function() {
    var x = Math.round(width/2 + radius * Math.cos(angle) - $(this).width()/2);
     var y = Math.round(height/2 + radius * Math.sin(angle) - $(this).height()/2);
  
    $(this).css({
        left: x + 'px',
        top: y + 'px'
     });
     angle += step;
  });
            
    $('.itemDot').click(function() {
    var dataTab= $(this).data("tab");
      $('.itemDot').removeClass('active');
    $(this).addClass('active');
    $('.CirItem').removeClass('active');
    $( '.CirItem'+ dataTab).addClass('active');
    
    i=dataTab;
       
    $('.dotCircle').css({
      "transform":"rotate("+(360-(i-1)*36)+"deg)",
      "transition":"2s"
    });
    $('.itemDot').css({
      "transform":"rotate("+((i-1)*36)+"deg)",
      "transition":"1s"
    });
  });
            
    setInterval(function() {
    var dataTab= $('.itemDot.active').data("tab");
    if(dataTab>6||i>6){
      dataTab=1;
      i=1;
    }
    $('.itemDot').removeClass('active');
    $('[data-tab="'+i+'"]').addClass('active');
    $('.CirItem').removeClass('active');
    $( '.CirItem'+i).addClass('active');
    i++;
  
   
  }, 999999); 
  });
    </script>

</div>
{% endblock %}
