{% extends 'main.html' %}

{% load static %}
{% block content %}
<div class="header">
    <p><span id="typing" class="typing"></span></p> 
    <a href="{% url 'open' %}"><button class="btn-1"><b>View Note</b></button></a>
    <div class="targetElement">
        <i class="far fa-clipboard"></i>
    </div>
    <div class="targetElement2">
        <i class="fas fa-pencil-alt"></i>
    </div>
    <button class="btn-1"><p1><b>Create Note</b></p></button>

</div>
<div class="loader-wrapper">
    <span class="loader">
        <span class="loader-inner" >
        </span>

    </span>

</div>
{% endblock %}