{% extends 'main.html' %}

{% load static %}
{% block content %}
<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="{% url 'home' %}"><img class ='Logoo'src="{% static 'base/Logoo.png' %}"></a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i>HOME</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'open' %}"><i class="fas fa-th-large"></i>CATEGORIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'book' %}"><i class="fas fa-book-open"></i></i>NOTEBOOK</a>
            </li>
            {% comment %} <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="fas fa-question-circle"></i>Q & A</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"><i class="fas fa-history"></i>Timeline</a>
            </li> {% endcomment %}
          
            <li class="nav-item" style ="cursor: pointer;">
                {% if not request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'loginview' %}"><i class="fas fa-user-alt"></i>Sign In</a>
                {% else %}
                <a class="nav-link"><i class="fas fa-user-alt"></i>{{request.user.username}}</a>
                <ul>
                    <li class="nav-item" >
                        <a class="nav-link" href = "{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item" >
                        <a id = "logout-button" href="{% url 'logoutview' %}">Sign Out</a>
                    </li>
                </ul> 
                {% endif %}
                   
            </li>
        </ul>
    </div>
    <div class ="search-box">
        <input class="search-txt" type = "text" name="" placeholder="Type to search">
        <a class ="search-btn" href ="#">
            <i class="fas fa-search"></i>
        </a>
        </div>
</nav>

<div class="header">
    <p><span id="typing" class="typing"></span></p> 
    <a href="{% url 'all' %}"><button class="btn-1"><b>View Note</b></button></a>
    <div class="targetElement">
        <i class="far fa-clipboard"></i>
    </div>
    <div class="targetElement2">
        <i class="fas fa-pencil-alt"></i>
    </div>
    <a href="{% url 'addnote' %}"><button class="btn-1"><p1><b>Create Note</b></p></button></a>
</div>
<div class="loader-wrapper">
    <span class="loader">
        <span class="loader-inner" >
        </span>

    </span>

{% if request.user.is_authenticated %}
<div>
    <h1>HELLO {{ request.user.username }}</h1>
</div>
{% endif %}

</div>
{% endblock %}