{% extends 'main.html' %}

{% load static %}
{% block content %}
<nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" href="{% url 'home' %}"><div class="Logoo"></div></a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i>HOME</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'open' %}"><i class="fas fa-th-large"></i>CATEGORIES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'book' %}"><i class="fas fa-book-open"></i>NOTEBOOK</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/cart/"><i class="fa-solid fa-cart-shopping"></i>CART</a>
            </li>
            <li class="nav-item" style ="cursor: pointer;">
                {% if not request.user.is_authenticated %}
                <a class="nav-link" href="{% url 'loginview' %}"><i class="fas fa-user-alt"></i>Sign In</a>
                {% else %}
                <a class="nav-link"><i class="fas fa-user-alt"></i>{{request.user.username}}</a>
                <ul>
                    <li class="nav-item" >
                        <a class="nav-link" href = "{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="{% url 'addnote' %}">Create Note</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="#">Order History</a>
                    </li>
                    <li class="nav-item" >
                        <a id = "logout-button" href="{% url 'logoutview' %}">Sign Out</a>
                    </li>
                </ul> 
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<div class="header-paymentconfirm">
 <div class="container">
     <div class="circle">
        <i class="fi fi-rr-check"></i>
     </div>
     <h1>Thank You!</h1>
     <h2>Your order has been successfully placed.</h2>
     <div class="btn-box">
        <a href="#">
            <button id = "return">
                See order history
            </button>
        </a>
         <a href="{% url 'book' %}">
             <button id = "return">
                See all notes
             </button>
         </a>
    </div>
 </div>
</div>

{% endblock %}